<ng-container *ngIf="(modalStatus$ | async) !== undefined && (form$ | async) as form">
    <div class="bg-black-w-opacity absolute z-10 w-full h-full" (click)="onClear()" [@openModal]>
        <form [formGroup]="form" (submit)="onConfirm(form)"
            class="absolute bg-white left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 rounded p-4 inline-block whitespace-nowrap"
            (click)="$event.stopPropagation()" (keydown.enter)="$event.preventDefault()">
            <div class="header p-4 relative border-b">
                <button nz-button nzType="text" class="absolute right-0 top-0 w-14 h-14" type="reset"
                    (click)="onClear()">
                    <i nz-icon nzType="close"></i>
                </button>

                <p class="font-semibold text-lg">
                    {{
                    ((modalStatus$ | async) === 'create'
                    ? 'createSlotTitle'
                    : 'editSlotTitle'
                    ) | transloco: form?.value
                    }}
                </p>
            </div>

            <div class="body p-4">
                <ng-container *ngIf="(modalStatus$ | async) === 'create'">
                    <div class="type box grid-cols-[min-content_auto] my-4">
                        <label for="slotName" class="text-right">
                            {{ 'slotName' | transloco }}
                        </label>
                        <input nz-input formControlName="name" id="slotName" [placeholder]="'selectName' | transloco" />
                    </div>
                </ng-container>

                <div class="box grid-cols-[auto_auto_auto] !gap-6 my-4">
                    <div class="type box grid-cols-[min-content_minmax(auto,250px)]">
                        <p>{{ 'slotType' | transloco }}</p>
                        <nz-select id="slotType" formControlName="type" [nzPlaceHolder]="'selectType' | transloco"
                            name="slotType">
                            <nz-option *ngFor="let type of typeList" [nzValue]="type" [nzLabel]="type"></nz-option>
                        </nz-select>
                    </div>
                    <div class="auto_fill box grid-cols-[min-content_min-content]">
                        <p>{{ 'slotAutoFill' | transloco }}</p>
                        <input id="slotAutoFill" type="checkbox" class="w-5 h-5" formControlName="autoFill"
                            name="slotAutoFill" />
                    </div>
                    <div class="influence_conversation box grid-cols-[min-content_min-content]">
                        <p>{{ 'slotInfluenceConversation' | transloco }}</p>
                        <input id="slotInfluenceConversation" type="checkbox" class="w-5 h-5"
                            formControlName="influenceConversation" name="slotInfluenceConversation" />
                    </div>
                </div>
                <ng-container *ngIf="form.value.type === 'categorical'">
                    <div class="box grid-cols-[min-content_auto] my-4">
                        <p>{{ 'listCategorical' | transloco }}</p>
                        <nz-select nzAllowClear nzMode="tags" [nzTokenSeparators]="[',']"
                            [nzPlaceHolder]="'selectCategorical' | transloco" formControlName="categorical"
                            name="slotCategorical">
                            <nz-option [nzDisabled]="true"></nz-option>
                        </nz-select>
                    </div>
                </ng-container>
                <div class="border-2">
                    <ngx-codemirror [options]="{ lineNumbers: true, mode: 'yaml' }" formControlName="content"
                        class="py-8"></ngx-codemirror>
                </div>
            </div>
            <div class="fotter flex-center justify-end p-4 gap-2">
                <button type="reset" nz-button (click)="onClear()">
                    {{ 'cancel' | transloco }}
                </button>
                <button type="button" nz-button (click)="onReset(form)">
                    {{ 'reset' | transloco }}
                </button>
                <button nz-button nzType="primary" [disabled]="form.invalid">
                    {{
                    ((modalStatus$ | async) === 'create' ? 'createSlot' : 'editSlot')
                    | transloco
                    }}
                </button>
            </div>
        </form>
    </div>
</ng-container>